<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    .container-fluid {
      text-align: center;
      /* 將內容置中 */
    }

    .input-group {
      text-align: center;
    }

    .main-pic img {
      width: 250px;
      /* 設定圖片的寬度 */
      display: block;
      /* 調整圖片的顯示方式為區塊元素 */
      margin: 0 auto;
      /* 水平置中圖片 */
    }

    .result {
      text-align: center;
      /* 將結果區塊置中 */
    }

    #copybtn {
      display: block;
      /* 調整複製按鈕的顯示方式為區塊元素 */
      margin: 0 auto;
      /* 水平置中複製按鈕 */
    }
  </style>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <title>URL Shortener</title>
</head>

<body>
  {{!-- navbar 導覽列 --}}
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">短網址</a>
      </div>
    </nav>
  </header>



  {{{ body }}}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>
</body>

</html>